

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">
                <%=userFound.title%> <%=userFound.surname%>
            </span>
            <span class="navbar-brand current-time">
              
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">
                    <button class="btn btn-outline-success">Home</button>
                </a>
              </li>
            </ul>
                <form action="/logout" method="POST">
                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                </form>
          </div>
        </div>
      </nav>


      <script>

        const currentTime = function()
        {
          let today = new Date();
          let hours = today.getHours()
          let minutes = today.getMinutes();
          let APM = "AM";

          if (hours > 12) 
          {
            hours = hours - 12;
            APM = "PM"
          }

          if (minutes < 10)
          {
            minutes = "0" + minutes;
          }
          let time = hours + ":" + minutes + APM

          document.querySelector('.current-time').innerText = time;

          const timeOne = "10:20:00"
          const timeTwo = "19:10"

          console.log(timeOne < timeTwo)
        }

        setInterval(currentTime, 1000);



      </script>