<% layout('layouts/boilerplate')%>


    <div class="card container mt-4" id="home-card" style="width: 50rem;">
        <img src="/imgs/travel.jpg" class="card-img-top mt-3" alt="">
        <div class="card-body">
            <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <a href="/schedule">
                        <img src="/imgs/bus.png" alt="">
                        <p class="text-card-home">Schedule Transportation</p>
                    </a>
                  </div>
                  <div class="col text-center">
                    <a href="/routes">
                      <img src="/imgs/routes.png" alt="">
                        <p class="text-card-home">Routes</p>
                    </a>
                  </div>
                  <div class="col text-center car-service">
                    <a href="#"><img src="/imgs/taxi.png" alt="">
                        <p class="text-card-home">Car Service</p>
                    </a>
                  </div>
                </div>
            </div>
        </div>
  </div>


    
