*
{
    font-family: 'Cabin', sans-serif;
}

body
{
    background-color: rgb(120, 120, 120);
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover
{
    color: red;
}

.dropdowns
{
    border-radius: 0.5rem;
    width: 8rem;
    height: 2.5rem;
    border: solid #212529 .2rem;
    font-size: 1.125rem;
}