*
{
    font-family: 'Cabin', sans-serif;
}


.card-img, .card-img-top
{
    border-radius: .5rem;
}

.home-card
{
    background-color: #27405f;
    border-radius: 0.75rem;
}

a
{
    text-decoration: none;
}

a p:hover
{
    color: red;
    transition: 500ms;
}

.text-card-home
{
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}

.car-service
{
    opacity: 0.2;
}


.dropdowns
{
    border-radius: 0.5rem;
    width: 8rem;
    height: 2.5rem;
    border: solid #212529 .2rem;
    font-size: 1.125rem;
}


